{% load static %}
<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href='{%static "src/assets/images/favicon.png" %}'>
    <title>Markytics</title>
    <!-- This page css -->
    <!-- Custom CSS -->
    <link href="{%static 'src/dist/css/style.min.css' %}" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{%static 'highlights/highlight.min.css' %}">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
	<style>
        .plugin-details {
            display: none;
        }

        .plugin-details-active {
            display: block;
        }
    </style>

</head>

<body>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper" data-theme="light" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full" data-sidebar-position="fixed" data-header-position="fixed" data-boxed-layout="full">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar" data-navbarbg="skin6">
            <nav class="navbar top-navbar navbar-expand-md">
                <div class="navbar-header" data-logobg="skin6">
                    <!-- This is for the sidebar toggle which is visible on mobile only -->
                    <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)"><i
                            class="ti-menu ti-close"></i></a>
                    <!-- ============================================================== -->
                    <!-- Logo -->
                    <!-- ============================================================== -->
                    <div class="navbar-brand">
                        <!-- Logo icon -->
                        <a href="docs.html">
                            <b class="logo-icon">
                                <!-- Dark Logo icon -->
                                <img src='{%static "src/assets/images/logo-icon.png"%}' alt="homepage" class="dark-logo" />
                                <!-- Light Logo icon -->
                                <img src="{%static 'src/assets/images/logo-icon.png' %}" alt="homepage" class="light-logo" />
                            </b>
                            <!--End Logo icon -->
                            <!-- Logo text -->
                            <span class="logo-text">
                                <!-- dark Logo text -->
                                <img src="{%static 'src/assets/images/Black4.png' %}" style="width:150px" alt="homepage" class="dark-logo" />
                                <!-- Light Logo text -->
                            </span>
                        </a>
                    </div>
                    <!-- ============================================================== -->
                    <!-- End Logo -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <!-- Toggle which is visible on mobile only -->
                    <!-- ============================================================== -->
                    <a class="topbartoggler d-block d-md-none waves-effect waves-light" href="javascript:void(0)"
                        data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i
                            class="ti-more"></i></a>
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse collapse" id="navbarSupportedContent">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav float-left mr-auto ml-3 pl-1">
                        <!-- ============================================================== -->
                        <!-- create new -->
                        <!-- ============================================================== -->
                        <div class="nav-item"> <a class="nav-link" href="docs-start.html"
                                                  aria-expanded="false"><i data-feather="bell" class="feather-icon" ></i>
							<span class=badge" style="background-color: blue;
                              border-radius: 100px;
                              color: white;
                              padding: 1px 4px;
                              position: relative;
                              top: -10px;">5</span></a>
						</div>
                        <div class="nav-item"> <a class="nav-link" href="docs-start.html" aria-expanded="false"><i data-feather="settings" class="feather-icon" ></i>
							</a>
						</div>
                        <div class="card" style="margin-bottom: 50px; border-radius: 20px;  top: 20px; bottom:20px; padding:1px 10px 1px 10px;">
                            <div class="card-body" style="padding:1px 10px 1px 10px; ">
                                <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="">EN</a></li>
                            </div>
                        </div>
                        {% if useragent %}
                        <div style="padding-left:400px">
                        <div class="card" style="margin-bottom: 0px; border-radius: 20px;  top: 20px; padding:1px 10px 1px 10px;  margin-right: 16px; float: right;">
                            <input class="card-body" style="padding:1px 40px 1px 40px; border: none;"  type="text" placeholder="Search" > <i style="position:absolute; float:right" data-feather="search" class="feather-icon" ></i></input>
                        </div></div>
                        {% else %}
                        <div style="padding-left:600px">
                        <div class="card" style="margin-bottom: 0px; border-radius: 20px;  top: 20px; padding:1px 10px 1px 10px;  margin-right: 16px; float: right;">
                            <input class="card-body" style="padding:1px 40px 1px 40px; border: none;"  type="text" placeholder="Search" > <i style="position:absolute; float:right" data-feather="search" class="feather-icon" ></i></input>
                        </div></div>
                        {% endif %}
                        {% if useragent %}
                            <div class="menu" style="padding-left:20px;padding-top:20px">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown"> <i data-feather="user" class="feather-icon"></i>    Hello,  {{username}}</a>
                            </div>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar" data-sidebarbg="skin6">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar" data-sidebarbg="skin6">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li class="sidebar-item"> <a class="sidebar-link sidebar-link" href="docs-start.html"
                        aria-expanded="false"><i data-feather="home" class="feather-icon"></i>
							<span class="hide-menu">Dashboard</span></a>
						</li>
                        <
                        <li class="nav-small-cap"><span class="hide-menu">COMPONENTS</span></li>
                        <li class="sidebar-item"> <a class="sidebar-link has-arrow" href="javascript:void(0)"
                        aria-expanded="false"><i data-feather="file-text" class="feather-icon"></i>
							<span class="hide-menu">Incidents</span></a>
                            <ul aria-expanded="false" class="collapse  first-level base-level-line">
                                    <li class="sidebar-item"><a href="{% url 'reportincident'%}" class="sidebar-link" ><span  class="hide-menu"> Report an Incident </span></a></li>
								<li class="sidebar-item"><a href="docs-custom-widgets.html" class="sidebar-link"><span class="hide-menu"> Saved Incidents </span></a></li>
								<li class="sidebar-item"><a href="docs-custom-chart-chartjs.html" class="sidebar-link"><span class="hide-menu"> Sent Incidents </span></a></li>
                            </ul>
						</li>
						<li class="sidebar-item"> <a class="sidebar-link sidebar-link" href="docs-start.html"
                        aria-expanded="false"><i data-feather="sidebar" class="feather-icon"></i>
							<span class="hide-menu">Others</span></a>
						</li>
                        <li class="list-divider"></li>
                        <li class="nav-small-cap"><span class="hide-menu">Authentication</span></li>
                        {% if state == 'Login' %}
						<li class="sidebar-item"> <a class="sidebar-link sidebar-link" href="{% url 'login' %}"
                                aria-expanded="false"><i data-feather="lock" class="feather-icon"></i>
                            <span class="hide-menu">{{state}}</span></a>
                        </li>
                        {% else %}
                        <li class="sidebar-item"> <a class="sidebar-link sidebar-link" href="{% url 'logout' %}"
                                aria-expanded="false"><i data-feather="lock" class="feather-icon"></i>
                            <span class="hide-menu">{{state}}</span></a>
                        </li>
                        {% endif %}
						<li class="sidebar-item"> <a class="sidebar-link sidebar-link" href="register.html"
                                aria-expanded="false"><i data-feather="lock" class="feather-icon"></i>
                            <span class="hide-menu">Register </span></a>
                        </li>
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            {% if useragent %}
                {% if log %}
                <h3 style=" padding-left:60px;padding-top:60px; color:green">Success: You are now logged in.</h3>
                <h1 style=" padding-left:60px;padding-top:15px">Hello {{username}} !</h1>
                {% else %}
                <h1 style=" padding-left:60px;padding-top:60px">Hello {{username}} !</h1>
                {% endif %}
            {% endif %}
            <div style=" padding-left:60px;padding-top:20px">One can log in and report an incident and view saved incidents.</div>
            <div style="padding-left:60px;padding-top:3px">Admin can view the forms</div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->

            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->

            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- End Page -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="{%static 'src/assets/libs/jquery/dist/jquery.min.js' %}"></script>
    <script src="{%static 'src/assets/libs/popper.js/dist/umd/popper.min.js' %}"></script>
    <script src="{%static 'src/assets/libs/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <!-- apps -->
    <script src="{%static 'src/dist/js/app-style-switcher.js' %}"></script>
    <script src="{%static 'src/dist/js/feather.min.js' %}"></script>
    <script src="{%static 'src/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js' %}"></script>
    <script src="{%static 'src/dist/js/sidebarmenu.js' %}"></script>
    <!--Custom JavaScript -->
    <script src="{%static 'src/dist/js/custom.min.js' %}"></script>
	<script src="{%static 'highlights/highlight.min.js' %}"></script>
	<script>
		hljs.initHighlightingOnLoad();
	</script>
    <!-- End JS -->
</body>

</html>